body{
    background-color: rgb(53, 53, 53);
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: block;
    float: 0;
    padding: 0;
}
.nav li{
    display:table-cell;
      width:150px;
      height:20px;
      padding:5px 10px;
      background-color:rgb(0, 115, 160);
      border:none;
      text-align:center;
      color:#fff;
      position: relative;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.nav li:hover{
    background-color: rgba(17, 0, 255, 0.534);
    color: rgb(0, 115, 160);
}
.nav li>ul{
    display: none;
}
.nav li:hover>ul{
    display:block;
      position:absolute;
      top:30%;
      left:0px;
}
.informacion{
    color: white;
}
.contenido1{
  margin: 5%;
  font-size: 150%;
  font-family: 'Dosis', sans-serif;
}
.titulo{
  color: #FFAF00;
  font-family: 'Quicksand', sans-serif;
  margin-top: 3%;
  margin-left: 5%;
  font-size: 400%;
}
.audio{
  margin-left: 7%;
  float: left;
}
.att{
  text-decoration: none;
}
.att:hover{
  text-decoration: underline;
  color: #FFAF00;
  transition: 0.5s;
}
.a-t-t{
  font-size: 300%;
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin-left: 40%;

}
.download{
  text-decoration: none;
}
.download p{
  color: white;
  margin-bottom: 5%;
  font-family: 'Dosis', sans-serif;
  font-size: 150%;
}
.download:hover{
  color: #FFAF00;
  text-decoration: underline;
  transition: 1s;
}