body{
    background-color: rgb(53, 53, 53);
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: block;
    float: 0;
    padding: 0;
}
.nav li{
    display:table-cell;
      width:150px;
      height:20px;
      padding:5px 10px;
      background-color:rgb(0, 115, 160);
      border:none;
      text-align:center;
      color:#fff;
      position: relative;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.nav li:hover{
    background-color: rgba(17, 0, 255, 0.534);
    color: rgb(0, 115, 160);
}
.nav li>ul{
    display: none;
}
.nav li:hover>ul{
    display:block;
      position:absolute;
      top:30%;
      left:0px;
}
.informacion{
    color: white;
}
.contenido1{
  margin: 5%;
  font-size: 150%;
}
.ti{
  color: #FFAF00;
  font-family: 'Quicksand', sans-serif;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 200%;
}
.texto{
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 150%;
  margin: 3%;
  margin-top: 5%;
  line-height: 200%;
}
.web{
  width: 50%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
.icons{
  font-size: 500%;
  color: #FF3100;
  float: left;
  margin-left: 10%;
}
.icons1{
  font-size: 500%;
  color: #0062FF;
}
.GDpro{
  width: 50%;
}