body{
    background-color: rgb(53, 53, 53);
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: block;
    float: 0;
    padding: 0;
}
.nav li{
    display:table-cell;
      width:150px;
      height:20px;
      padding:5px 10px;
      background-color:rgb(0, 115, 160);
      border:none;
      text-align:center;
      color:#fff;
      position: relative;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.nav li:hover{
    background-color: rgba(17, 0, 255, 0.534);
    color: rgb(0, 115, 160);
}
.nav li>ul{
    display: none;
}
.nav li:hover>ul{
    display:block;
      position:absolute;
      top:30%;
      left:0px;
}
.informacion{
    color: white;
    font-size: 150%;
    margin-right: 5%;
  font-family: 'Dosis', sans-serif;
}
.banner{
  width: 100%;
}

.gimp{
  width: 50%;
}
.ink{
  width: 50%;
}

.titulo{
  font-family: 'Quicksand', sans-serif;
  color: #FFAF00;
  font-size: 200%;
}
.tu{
  font-family: 'Dosis', sans-serif;
  color: #FFAF00;
  font-size: 200%;
}
.manipulacion{
  width: 80%;
}
.creditos{
  font-family: sans-serif;
  font-style: italic;
  font-size: 50%;
  margin-top: -2%;
  justify-content: star;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1em;
  justify-content: center;
}

.example{
  width: 50%;
}
.example:hover{
  filter: brightness(.5);
}